<div class="container text-center">
    <button *ngIf="!estaEnJuego" mat-raised-button color="primary" (click)="GenerarTablero()">Jugar</button>
</div>

<div class="container mt-5 tateti" *ngIf="estaEnJuego">
      <mat-grid-list cols="3" rowHeight="2:1" class="tateti">
        <mat-grid-tile class="border" *ngFor="let celda of posiciones; let i = index" 
        (click)="seleccionar(i)">{{ celda }}</mat-grid-tile>
      </mat-grid-list>      
</div>

<div class="container text-center">
    <p *ngIf="mostrarErrorAlElegirPosicion" class="alert-danger my-3">Esa posicion ya esta ocupada, elija otra</p>
</div>

<div class="container text-center mt-3">
  <button *ngIf="juegoTermino" mat-raised-button color="primary" (click)="GenerarTablero()">Jugar de nuevo</button>
</div>